body{
  font-family: Arial;
}
#main-heading{
  text-align: center;
}
.grid-container{
  display: grid;
  grid-template-columns: 2fr 1fr auto;
  column-gap: 10px;
  row-gap: 10px;
  margin-top: 10px;
  align-items: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;

}
#todo-input,#todo-date{
  font-size: 1rem;
  padding: 10px 5px;
  width: 100%;
}
.btn-delete{
  background-color: brown;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px 0px;
  cursor: pointer;
  width: 100%;
}
.btn-todo{
  background-color: rgb(21, 110, 20);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px 0px;
  cursor: pointer;
  width: 100%;
}

@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}